<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.api.model.mapper.SmsMapper">

    <resultMap id="baseResultMap" type="com.msb.api.model.dto.SmsDTO">
        <id column="sms_id" property="smsId" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getSmsByCode" parameterType="java.lang.String" resultMap="baseResultMap">
        SELECT * FROM sms WHERE code = #{code} LIMIT 1
    </select>

</mapper>